<div class="main-panel">
  <div class="row">

    <div class="col">
      <div class="input-panel">
        <slider [minValue]="0" [maxValue]="1.0" [step]="0.01" [title]="'Anesthesia frequency'"></slider>
        <slider [minValue]="0" [maxValue]="1.0" [step]="0.01" [title]="'Covid frequency'"></slider>
        <slider [minValue]="0" [maxValue]="400" [step]="1" [title]="'Patients'"></slider>
        <slider [minValue]="0" [maxValue]="10" [step]="1" [title]="'Anesthetists'"></slider>
      </div>
    </div>

  </div>
</div>