<div class="row">

    <div class="col">
        <div class="row">
            <label>{{title}}</label>
            <div class="slider-container">
                <input type="range" min={{minValue}} max={{maxValue}} step={{step}} class="slider"
                    [(ngModel)]="sliderValue">
            </div>
        </div>
    </div>

    <div class="col">
        <div class="text-box-container">
            <input type="number" min={{minValue}} max={{maxValue}} name="fname" class="slider-text-box"
                [(ngModel)]="sliderValue">
        </div>
    </div>
</div>